<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style/login.css">
</head>
<style>
    #getResgiter {
        position: absolute;
        right: 0px;
        width: 100px;
    }
</style>
<body>
    <div class="layout">
        <!-- 头部 -->
        <header id="header" class="mui-bar mui-bar-nav sn_header">
            <h1 class="mui-title">商品列表</h1>
            <a class="mui-icon mui-icon-search mui-pull-right"></a>
            <a href="#" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        </header> -->
        <!-- 主体内容 -->
        <div class="sn_main">
            <form class="mui-input-group">
                <div class="mui-input-row">
                    <label>手机号：</label>
                    <input name="mobile" type="text" class="mui-input-clear" placeholder="请输入手机号" value="13512345678">
                </div>
                <div class="mui-input-row">
                    <label>验证码：</label>
                    <input name="code" type="text" class="mui-input-clear" placeholder="请输入验证码">
                    <button type="button" class="mui-btn mui-btn-royal " id="getResgiter">获取验证码</button> 
                </div>
                <div class="mui-input-row">
                    <label>邮箱：</label>
                    <input name="email" type="text" class="mui-input-clear" placeholder="请输入邮箱"
                        value="13512345678@qq.com">
                </div>
                <div class="mui-input-row">
                    <label>密码：</label>
                    <input name="pwd" type="password" class="mui-input-clear mui-input-password"
                        placeholder="请输入密码" value="13512345678">
                </div>
                <div class="mui-input-row">
                    <label>确认密码：</label>
                    <input name='againpassword' type="password" class="mui-input-clear mui-input-password" placeholder="请确认密码"
                        value="13512345678">
                </div>
                <div class="mui-input-row mui-radio">
                    <label>男</label>
                    <input name="gender" type="radio" checked="" value="男">
                </div>
                <div class="mui-input-row mui-radio">
                    <label>女</label>
                    <input name="gender" type="radio" checked="" value="女">
                </div>
                <div class="mui-button-row">
                    <button type="button" class="mui-btn mui-btn-primary btn-register">注册</button>
                    <button type="button" class="mui-btn mui-btn-danger">取消</button>
                </div>
            </form>
        </div>
        <!-- 尾部 -->
        <div class="sn_footer">
            <nav class="mui-bar mui-bar-tab">
                <a class="mui-tab-item" href="../index.html">
                    <span class="mui-icon mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
                </a>
                <a class="mui-tab-item " href="category.html">
                    <span class="mui-icon mui-icon-email"></span>
                    <span class="mui-tab-label">分类</span>
                </a>
                <a class="mui-tab-item" href="cart.html">
                    <span class="fa fa-shopping-cart"></span>
                    <span class="mui-tab-label">购物车</span>
                </a>
                <a class="mui-tab-item mui-active" href="login.html">
                    <span class="mui-icon mui-icon mui-icon-contact"></span>
                    <span class="mui-tab-label">我的</span>
                </a>
            </nav>
        </div>
    </div>
</body>

<script src="../lib/mui/js/mui.min.js"></script>
<script src="../lib/zepto/zepto.js"></script>
<script src="../lib/arttemplate/template-web.js"></script>
<script src="../lib/iscroll/iscroll.js"></script>
<script src="../js/common.js"></script>
<script src="../js/resgiter.js"></script>

</html>